<div class="home">
  <div class="centered_image">
    <img src="<%= image_path('iphone_with_inito.png') %>" alt="iPhone with Inito">
  </div>
  <div class="centered_right_image">
    <img src="<%= image_path('crumbs2.png') %>" alt="iPhone with Inito">
  </div>
  <div class="centered_left_image">
    <img src="<%= image_path('crumbs1.png') %>" alt="iPhone with Inito">
  </div>
  <div class="stars">
    <img src="<%= image_path('stars.png') %>" alt="iPhone with Inito">
  </div>
  <div class="hello_text">
  TRUSTED BY 20,000+ COUPLES 
  </div>
  <div class="track_text" >
    Track Your Fertility<br>
    Hormones at Home<br>in 10 minutes
  </div>
  <div class="details_text">
    Get accurate results of <strong>Estrogen, LH, PdG (urine <br> metabolite of progesterone) and FSH </strong> with Inito, the <br> all-in-one FDA registered fertility monitor.
  </div>
  <div class="button_container">
    <a href="#" class="pill_button" style="padding-top:10px;font-family: Montserrat, sans-serif;font-weight:600;">How does Inito work?</a>
  </div>
 </div> 

 <div class="info-section">
  <div class="bottom_text">
    <span class="stretch">AS SEEN ON</span>
  </div>
  
</div>

<table class="image-table" style="padding-left:50px;">
  <tr>
    
    <td class="table-cell">
      <img src="<%= image_path('bloomberg.png') %>" alt="Bloomberg">
    </td>
    <td class="table-cell ">
      <img src="<%= image_path('forbes.png') %>" alt="Forbes">
    </td>
    <td class="table-cell ">
      <img src="<%= image_path('the_week.png') %>" alt="The Week">
    </td>
    <td class="table-cell">
      <img src="<%= image_path('4washington.png') %>" alt="Washington">
    </td>
    <td class="table-cell">
      <img src="<%= image_path('entrepreneur.png') %>" alt="Entrepreneur">
    </td>
  </tr>
</table>

<style>
    .home {
    width: 100vw;
    min-height: calc(100vh - 80px); 
    background-image: url('<%= image_path('header_bg_image.png') %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-top: 80px; 
    }
</style>

